{{ define "main" }}
<main aria-role="main">
    <div id="spacer"></div>
    <div>
        <h1 class="title">
            <span class="title__mark">></span>{{ .Site.Params.Title }}<span class="title__cursor"></span>
        </h1>

        {{- with .Site.Params.Subtitle }}
        <p class="title">
            {{.}}
        </p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
    <div class="button-container">
        <button id="call-to-action">{{ .Site.Params.CallToAction }}</button>
    </div>
</main>
{{ end }}