**/__pycache__/
**/.pytest_cache/
**/.vscode/**
.vs/
.coverage
.env
.mypy_cache/**
**/bin
**/obj
**/.cache
**.pyc
**.pth
*.tar.gz
imgui.ini
build/
build-*/
bodies/
checkpoints/
compile_commands.json
programs/
runs/
!src/training/bodies
backtrace.dump
CMakeSettings.json
windows-build/