service: st-cloud

provider:
  name: google
  runtime: python37
  region: asia-northeast1
  project: st-dev-252104
  credentials: ~/.gcloud/keyfile.json

plugins:
  - serverless-google-cloudfunctions

package:
  exclude:
    - node_modules/**
    - .gitignore
    - .git/**

functions:
  login:
    handler: login
    events:
      - http: path
  find_game:
    handler: find_game
    events:
      - http: path
  finish_game:
    handler: finish_game
    events:
      - http: path
# you can define resources, templates etc. the same way you would in a
# Google Cloud deployment configuration
#resources:
#  resources:
#    - type: storage.v1.bucket
#      name: my-serverless-service-bucket
#  imports:
#    - path: my_template.jinja
